@model Project.Models.Materials
@{
    Layout = null;
}


<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm("Delete", "Materials", FormMethod.Post, new { @class = "form-horizontal", @id = "DeleteMaterialsForm", @role = "form" }))
        {
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.ProductId)
            @Html.HiddenFor(model => model.AccessoryId)
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title"><i class="fa fa-trash"></i> Удалить комплектующее</h5>
            </div>
            <div style="text-align: center;margin: 30px;">
                <h3>Вы действительно хотите удалить?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Отмена</button>
                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-trash"></i> Удалить</button>
            </div>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        $(".chosen-select").chosen({
            width: "100%",
            allow_single_deselect: true
        });
    });
</script>